.movie-card__card {
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}

.movie-card__trailer-link {
  text-decoration: none;
  transition: opacity .4s linear;
}

.movie-card__trailer-link:hover {
  opacity: .6;
}

.movie-card__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 151px;
  border-radius: 10px 10px 0 0;
}

.movie-card__info {
  height: 67px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 12px;
  box-sizing: border-box;
  box-shadow: 0 16px 24px 0 #0000000D;

}

.movie-card__title-wrapper {
  max-width: 80%;
}

.movie-card__title {
  margin-block: 0;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  /* переполнение */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-card__duration {
  margin-block: 0;
  margin-inline: 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #a0a0a0;
}

.movie-card__remove {
  width: 16px;
  height: 16px;
  background: transparent;
  background-image: url(../../images/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: opacity .4s linear;
  cursor: pointer;
  padding: 0;
}

.movie-card__remove:hover {
  opacity: .8;
}

.movie-card__remove:focus-visible {
    outline: 2px solid #2BE080;
}

.movie-item {
  list-style-type: none;
  width: 100%;
}

@media screen and (max-width: 1279px) {

  .movie-card__image {
    height: calc((100vw - 60px - 60px) /3 * 151 / 270);
  }
}

@media screen and (max-width: 929px) {

  .movie-card__image {
    height: calc((100vw - 30px - 60px) /2 * 190 / 339);
  }
}

@media screen and (max-width: 767px) {

  .movie-card__image {
    height: calc((100vw - 20px - 20px) /2 * 168 / 300);
  }
}

@media screen and (max-width: 639px) {

  .movie-card__image {
    height: 120px;
    height: calc((100vw - 20px) * 168 / 300);
  }
}

/*
/* .movie-card__card {
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}

.movie-card__trailer-link {
  text-decoration: none;
}

.movie-card__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 151px;
  border-radius: 10px 10px 0 0;
}

.movie-card__info {
  height: 67px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 12px;
  box-sizing: border-box;
  box-shadow: 0 16px 24px 0 #0000000D;

}

 размер на глаз
.movie-card__title-wrapper {
  max-width: 80%;
}

.movie-card__title {
  margin-block: 0;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-card__duration {
  margin-block: 0;
  margin-inline: 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #a0a0a0;
}

.movie-card__remove {
  width: 16px;
  height: 16px;
  background: transparent;
  background-image: url(../../images/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: opacity .4s linear;
  cursor: pointer;
  padding: 0;
}

.movie-card__remove:hover {
  opacity: .8;
}

.movie-card__remove:focus-visible {
    outline: 2px solid #2BE080;
}

.movie-item {
  list-style-type: none;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .movie-card__image {
    height: auto;
  }
}; */


