.account-link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-image: url(../../images/account-icon.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
  margin-left: 50px;
  transition: opacity .4s linear;
  outline-color: #F3C1F8;
}

.account-link:hover {
  opacity: .8;
}

.account-link_active {
  font-weight: 400;
}

@media screen and (max-width: 1279px) {

  .account-link_active {
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
  }
}
