.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 5.5%;
  box-sizing: border-box;
  width: 100%;
}

.header__link-container {
  display: flex;
}

.header_type_landing {
  background: #f3c1f8;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}
