.about {
  padding: 110px 70px 100px;
  box-sizing: border-box;
}

.about__title {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  letter-spacing: -.04em;
  margin-block: 0;
  margin: 0 0 70px;
  box-sizing: border-box;
}

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 110px;
}

.about__project {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.about__project-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-block: 0;
  margin: 0 10px 26px 0;
  letter-spacing: -.04em;
  color: #000;
}

.about__project-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  margin-block: 0;
}

.about__container-duration {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 36px 36px;
  row-gap: 5px;
}

.about__time {
  font-size: 14px;
  line-height: 17px;
  min-height: 36px;
  font-weight: 400;
  margin-block: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__time_type_black {
  background-color: #000;
  color: #fff;
}

.about__time_type_gray {
  background-color: #f2f2f2;
}

.about__process {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #a0a0a0;
  margin-block: 0;
}

@media screen and (max-width: 1279px) {

  .about {
    padding: 90px 50px 81px;
  }

  .about__project-text {
    font-size: 12px;
    line-height: 18px;
  }

  .about__container {
    margin-bottom: 93px;
  }

  .about__container-duration {
    grid-template-columns: 21% 1fr;
  }

  .about__project-title {
    margin: 0 10px 22px 0;
  }
}

@media screen and (max-width: 767px) {

  .about {
    padding: 70px 18px;
  }

  .about__title {
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 26px;
  }

  .about__project-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about__project-text {
    font-size: 11px;
    line-height: 16px;
  }

  .about__container {
    flex-direction: column;
    margin: 0 auto;
  }

  .about__time {
    font-size: 11px;
    line-height: 13px;
  }

  .about__process {
    font-size: 11px;
    line-height: 13px;
  }

  .about__project {
    margin-bottom: 57px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .about__container-duration {
    grid-template-columns: 100px 184px;
    grid-template-rows: 35px 35px;
    row-gap: 0;
  }

  .about__title {
    width: 100%;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }

  .about__project {
    width: 100%;
    margin-bottom: 60px;
  }

  .about__project:first-of-type {
    margin-bottom: 56px;
  }

  .about__project-title {
    margin: 0 0 16px;
  }

  .about__time {
    height: 35px;
  }

  .about {
    padding: 70px 18px 58px;
  }
}
