.links {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 231px;
  margin-block: 0;
}
.links__item {}

.links__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  transition: opacity .4s linear;
}

.links__link:hover {
  opacity: .8;
}

.links__link_active {
  font-weight: 400;
}
