.login-page {
  display: flex;
  flex-direction: column;
  padding: 70px 442px;
  box-sizing: border-box;
  width: 1280px;
}

.login-page__title{
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin: 40px 0;
}

.form-login {
  margin-bottom: 42px;
}

/*label*/
.form-login__label {
  display: block;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #a0a0a0;
}

.form-login__label:last-of-type {
  margin-bottom: 69px;
}

.form-login__input {
  margin: 10px 0 10px;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  height: 46px;
  border: none;
  border-radius: 8px;
  background: #f9f9f9;
  padding: 0 15px;
  box-sizing: border-box;
}

.form-login__submit {
  width: 100%;
  background: #000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 3px;
  color: #fff;
  min-height: 45px;
  cursor: pointer;
  transition: opacity .4s linear;
  padding: 0;
  border: none;
}

.form-login__submit:hover {
  opacity: .8;
}

.form-login__error {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #ff4062;
}

.login-page__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #a0a0a0;
  margin-block: 0;
  width: 100%;
  text-align: center;
}

.login-page__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  display: inline-block;
  margin-left: 6px;
}
